{
  "presets": [
    "react-native"
  ],
  "sourceMaps": true,
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "brorand": "brorand",
          "stream": "readable-stream",
          "crypto": "react-native-crypto",
          "vm": "vm-browserify"
        }
      }
    ]
  ]
}